###############################################################################
#
# HOST DEFINITION
#
###############################################################################

# Define a host for the local machine

define host{
        use           linux-server            ; Name of host template to use
        host_name     host1
        alias         host1
        address       <host_ip>               ; host OS IP
        _ipmi_ip      <mgmt_controller_ip>    ; host management controller IP 
        }

###############################################################################

###############################################################################

#

# HOST GROUP DEFINITION

#

###############################################################################

# Define an optional hostgroup for Linux machines


define hostgroup{

        hostgroup_name  linux-servers ; The name of the hostgroup
        alias           Linux Servers ; Long name of the group
        members         host1     ; Comma separated list of hosts that belong to this group
        }


###############################################################################

###############################################################################

#

# SERVICE DEFINITIONS

#

###############################################################################

###############################################################################


define service{

  use                  generic-service
  host_name            host1
  service_description  SENSOR_HEALTHCHECK
  check_command        check_ipmi_sensor!/etc/ipmi-config/ipmi.cfg          ;check all sensors
  #check_command        check_ipmi_sensor!/etc/ipmi-config/ipmi.cfg!142,144  ;check specific sensors with id 142 (power), 144(temp)
  }




